@use "sass:color";

@import "./../styles/mixin.scss";
@import "./../styles/variables.scss";

.appointment-button {
  border: none;
  background-color: transparent;
  .button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    @include transition(all 0.3s);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid #000000;
    font-weight: 500;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #0000005a;
      @include transition(all 0.3s);
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      border-color: #0000005a;
      color: #fff;
      &:before {
        width: 100%;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  a {
    text-decoration: none;
  }
}

.scrolled .appointment-button .button {
  &:hover {
    color: white !important;
  }
  &.blue {
    color: color.adjust($ESSColor, $lightness: -10%);
    border-color: color.adjust($ESSColor, $lightness: -10%);
    &:before {
      background-color: color.adjust($ESSColor, $lightness: -10%);
    }
  }
  &.red {
    color: color.adjust($mainColor, $lightness: -10%);
    border-color: color.adjust($mainColor, $lightness: -10%);
    &:before {
      background-color: color.adjust($mainColor, $lightness: -10%);
    }
  }
  &.orange {
    color: color.adjust($physiotherapyColor, $lightness: -10%);
    border-color: color.adjust($physiotherapyColor, $lightness: -10%);
    &:before {
      background-color: color.adjust($physiotherapyColor, $lightness: -10%);
    }
  }
  &.purple {
    color: color.adjust($psychoMotColor, $lightness: -10%);
    border-color: color.adjust($psychoMotColor, $lightness: -10%);
    &:before {
      background-color: color.adjust($psychoMotColor, $lightness: -10%);
    }
  }
  &.green {
    color: color.adjust($infirmaryColor, $lightness: -10%);
    border-color: color.adjust($infirmaryColor, $lightness: -10%);
    &:before {
      background-color: color.adjust($infirmaryColor, $lightness: -10%);
    }
  }
}
