body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  * {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  height: 600px;
  width: 100%;
}
