@import "./../styles/variables";
.site-header {
  height: 90vh;
  &-blue {
    background-color: $blueColor;
  }
  &-red {
    background-color: $redColor;
  }
  &-orange {
    background-color: $orangeColor;
  }
  &-purple {
    background-color: $purpleColor;
  }
  &-green {
    background-color: $greenColor;
  }
}
