@import "./../styles/variables";

.site-header {
  position: relative;
  width: 100%;
  &-blue {
    background-color: $ESSColor;
  }
  &-red {
    background-color: $mainColor;
  }
  &-orange {
    background-color: $physiotherapyColor;
  }
  &-purple {
    background-color: $psychoMotColor;
  }
  &-green {
    background-color: $infirmaryColor;
  }

  > svg {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% - 2px));
    z-index: -1;
    .blue {
      fill: $ESSColor;
    }
    .red {
      fill: $mainColor;
    }
    .orange {
      fill: $physiotherapyColor;
    }
    .purple {
      fill: $psychoMotColor;
    }
    .green {
      fill: $infirmaryColor;
    }
  }

  &-content {
    padding: 40px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;

    .title-container {
      width: 50%;
      color: white;
      font-size: 50px;
    }

    img {
      margin: auto 0;
      width: 500px;
      height: 330px;
      border-radius: 1px;
      box-shadow: 13px 13px 0px 0px rgb(0 0 0 / 43%);
      z-index: 0;
    }

    h1 {
      font-size: 50px;
      // text-transform: uppercase;
    }

    h3 {
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
  }
}
