@import "./../styles/variables";

$header-height : 50vh;
$min-header-height : 600px;


.site-header {
  position:relative;
  height: $header-height;
  // min-height: $min-header-height;
  &-blue {
    background-color: $blueColor;
  }
  &-red {
    background-color: $redColor;
  }
  &-orange {
    background-color: $orangeColor;
  }
  &-purple {
    background-color: $purpleColor;
  }
  &-green {
    background-color: $greenColor;
  }

  > svg {
    position : absolute;
    bottom : 0;
    transform: translateY(100%);
    z-index: -1;
    .blue {
      fill: $blueColor;
    }
    .red {
      fill: $redColor;
    }
    .orange {
      fill: $orangeColor;
    }
    .purple {
      fill: $purpleColor;
    }
    .green {
      fill: $greenColor;
    }
  }

  &-content {
    padding :  40px;
    position:relative;
    height :100%;
    display : flex;
    justify-content: space-around;

    .title-container {
      width : 50%;
      color : white;
      font-size : 50px
    }

    img {
      margin : auto 0;
      width : 400px;
      height: 250px;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.192);
      z-index: 0;
    }

    h1 {
      font-size : 50px;
      // text-transform: uppercase;
    }

    h3 {
      font-size :20px;
      font-family: "Montserrat", sans-serif;
      font-weight : 400;
    }
  }
}