@use "sass:list";
@use "sass:color";

@import "./../styles/mixin.scss";
@import "./../styles/variables";

$max-width-desktop: 1000px;
$menu-item-min-width: 145px;
$menu-item-height: 80px;
$total-menu-number: 5;

@for $i from 1 through $total-menu-number {
  .menus li:nth-child(#{$i}) {
    &:hover ul div {
      @include transform(translate(0, 0));
    }
    &:hover ul {
      box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.192);
    }
    &:hover ~ .slide-bar,
    &.active ~ .slide-bar {
      @include transform(translate(#{(-1 + $i) * (100%)}, 0));
      background-color: white;
    }
  }

  .scrolled .menus li:nth-child(#{$i}) {
    &:hover ~ .slide-bar,
    &.active ~ .slide-bar {
      background-color: list.nth($menu-ordered-colors, $i);
    }
  }
}

.scrolled .menus > li {
  &.blue {
    &:hover,
    &.active {
      color: color.adjust($ESSColor, $lightness: -20%);
    }
  }
  &.red {
    &:hover,
    &.active {
      color: color.adjust($mainColor, $lightness: -20%);
    }
  }
  &.orange {
    &:hover,
    &.active {
      color: color.adjust($physiotherapyColor, $lightness: -20%);
    }
  }
  &.purple {
    &:hover,
    &.active {
      color: color.adjust($psychoMotColor, $lightness: -20%);
    }
  }
  &.green {
    &:hover,
    &.active {
      color: color.adjust($infirmaryColor, $lightness: -20%);
    }
  }
}

.menus {
  list-style: none;
  max-width: $max-width-desktop;
  display: flex;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  width: 60%;
  position: relative;

  > li {
    @include flex-all-centered();

    height: $menu-item-height;
    flex: 1 1 0;
    color: rgba(0, 0, 0, 0.65);
    min-width: $menu-item-min-width;
    z-index: 1;

    &:hover,
    &.active {
      color: white;
    }

    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    position: relative;
    a {
      text-decoration: none;
      color: inherit;
      height: inherit;
      width: inherit;
      @include flex-all-centered();
    }

    &:hover .sub-menu {
      height: unset;
    }
  }

  .sub-menu {
    @include flex-all-centered();
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    left: 0;
    top: $menu-item-height;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    height: 0;
    @include transition(0.5s ease-in);
    > div {
      @include transform(translate(0, -100%));
      @include transition(all 0.25s ease-in);
      position: relative;
      width: inherit;
      > li {
        width: 100%;
        padding: 0;
        @include flex-all-centered;
        color: white;
        font-size: 15px;
        font-weight: 400;
        &.blue a {
          background-color: color.adjust($ESSColor, $lightness: 3%);
          &:hover,
          &.active {
            background-color: color.adjust($ESSColor, $lightness: 7%);
          }
        }
        &.red a {
          background-color: color.adjust($mainColor, $lightness: 3%);
          &:hover,
          &.active {
            background-color: color.adjust($mainColor, $lightness: 7%);
          }
        }
        &.orange a {
          background-color: color.adjust($physiotherapyColor, $lightness: 3%);
          &:hover,
          &.active {
            background-color: color.adjust($physiotherapyColor, $lightness: 7%);
          }
        }
        &.purple a {
          background-color: color.adjust($psychoMotColor, $lightness: 3%);
          &:hover,
          &.active {
            background-color: color.adjust($psychoMotColor, $lightness: 7%);
          }
        }
        &.green a {
          background-color: color.adjust($infirmaryColor, $lightness: 3%);
          &:hover,
          &.active {
            background-color: color.adjust($infirmaryColor, $lightness: 7%);
          }
        }

        > a {
          padding: 10px 0;
          @include flex-all-centered;
          height: inherit;
          width: inherit;
        }
      }
    }
  }

  .slide-bar {
    height: 5px;
    position: absolute;
    bottom: 5px;
    min-width: $menu-item-min-width;
    width: calc(100% / $total-menu-number);
    z-index: 0;
    @include transition(all 0.35s cubic-bezier(0, 0, 0.58, 1));
  }
}
