$mainColor: #085c54;
$infirmaryColor: #247380;
$physiotherapyColor: #335f95;
$psychoMotColor: #a34828;
$ESSColor: #d1711f;

$menu-ordered-colors: (
  $mainColor,
  $infirmaryColor,
  $physiotherapyColor,
  $psychoMotColor,
  $ESSColor
);

:export {
  menuColorList: $menu-ordered-colors;
}
